Faq.Wpf/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Faq" type="tns:Faq" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Faq">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FaqItem" type="tns:FaqItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FaqItem">
    <xs:attribute name="Question" type="xs:string" />
    <xs:attribute blend:FormatParameters="37,12" name="Answer" type="xs:string" />
  </xs:complexType>
</xs:schema>